<!--The content below is only a placeholder and can be replaced.-->
<tetris-core #game
    (lineCleared)="onLineCleared()"
    (gameOver)="onGameOver()"></tetris-core>

<table class="controls">
    <tr>
        <td><button (click)="game.actionStart()">Start</button></td>
        <td><button (click)="game.actionStop()">Stop</button></td>
        <td><button (click)="game.actionReset()">Reset</button></td>
        <td></td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td></td>
        <td><button (click)="game.actionRotate()">Rotate</button></td>
    </tr>
    <tr>
        <td><button (click)="game.actionLeft()">Left</button></td>
        <td></td>
        <td><button (click)="game.actionRight()">Right</button></td>

    </tr>
    <tr>
        <td></td>
        <td><button (click)="game.actionDown()">Down</button></td>
    </tr>
</table>

