<!--The content below is only a placeholder and can be replaced.-->
<tetris-core
    [moveLeft]="moveLeft"
    [moveRight]="moveRight"
    [moveDown]="moveDown"
    [rotate]="rotate"
    [start]="start"
    [stop]="stop"
    [reset]="reset"
    [initialSpeed]="100"
    (lineCleared)="onLineCleared()"
    (gameOver)="onGameOver()"></tetris-core>

<table class="controls">
    <tr>
        <td><button (mousedown)="start = true" (mouseup)="start = false">Start</button></td>
        <td><button (mousedown)="stop = true" (mouseup)="stop = false">Stop</button></td>
        <td><button (mousedown)="reset = true" (mouseup)="reset = false">Reset</button></td>
        <td></td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td></td>
        <td><button (mousedown)="rotate = true" (mouseup)="rotate = false">Rotate</button></td>
    </tr>
    <tr>
        <td><button (mousedown)="moveLeft = true" (mouseup)="moveLeft = false">Left</button></td>
        <td></td>
        <td><button (mousedown)="moveRight = true" (mouseup)="moveRight = false">Right</button></td>

    </tr>
    <tr>
        <td></td>
        <td><button (mousedown)="moveDown = true" (mouseup)="moveDown = false">Down</button></td>
    </tr>
</table>

